body {
  background-image: url("pages/homepage/homeassets/nature-images..jpg");
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #5bd5cc;
  font-family: "Georgia Pro";
}
.aUrl {
  color: #ff0000;
  font-weight: bold;
  font-size: 24px;
}
.aUrl:hover, .subreddit:hover {
  color: orange;
}

/* visited link */
a:visited {
  color: #7a28be;
}

/* mouse over link */
a:hover {
  color: orange;
}

/* selected link */
a:active {
  color: blue;
}